.item{
	text-align: center;
}

#instagram{
    background-image: url("back_instagram.png");
    background-color: #ededed;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    align-items: center;
    padding: 5%;
    padding-top: 0%;
}

h1 {
    text-align: center;
    padding: 2%;
    color: #222;
}