.col-lg-2{
    text-align: center;
    margin-right: 4%;
    margin-left: 4%;
}

#instagram2{
    background-image: url("back_instagram.png");
    background-color: #ededed;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: 50% 90%;
}

h1 {
    text-align: center;
    padding: 2%;
    color: #222;
  }