#navbar {
  background: #ededed;
  position: fixed;
  width: 100%;
  transition: 0.5s;
  z-index: 99;
  filter: grayscale(0.2);
  font-size: large;
  border-bottom: 2px solid #fff;
  padding-bottom:10px;

  .navbar-brand {
    color: #3d9770;
    img {
      margin: 0;
    }
  }

  .nav-item{
    height: 50px;
    overflow: hidden;

    .nav-link {
      color: #3d9770;
      padding: 10px 5px 0;
    }

    .underline {
      margin: 100px 5px 0;
      background: #222;
      height: 2px;
      width: available;
      transition: all 0.5s;
    }
  }

  .nav-item:hover {
    .nav-link {
      color: #222;
    }

    .underline {
      margin: 0 5px 0;
    }
  }
}