.container-fluid{
    position: relative;
    padding-bottom: 50%;
    height: 0;
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow: hidden;
    max-width: 100%;
    height: auto; 
}

video{
    left: 50%;
    min-height: 50%;
    min-width: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

@media screen and (max-width: 1080px) {

    .container-fluid{
        overflow: visible;
    }

    video{
        max-width: 100%;
        height: auto; 
        padding-top: 30%;
    }
    
}

@media screen and (max-width: 1440px) {

    .container-fluid{
        overflow: visible;
    }
    
    video{
        max-width: 100%;
        height: auto;
    }
    
}
