*{font-family: 'Source Serif Pro', serif;
}
  
  #quem_somos {
    padding-top: 50px;
    padding-bottom: 3vh;
    background-image: url("back_quem_somos.png");
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    min-height: 45vh;

  
  
    h1 {
      text-align: center;
      padding: 2%;
      color: #222;
    }

    p {
      color: #222;
    }

    span {
      color: #222;
    }
  
    }
  
    // Tablet
    @media screen and (min-width: 750px) {
      p {
        font-size: 1.5em;
      }
    }

  