#servicos {
  padding-top: 50px;
  padding-bottom: 3vh;
  background: url("back_servicos2.png");
  background-color: #ededed;
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center 10%;
  min-height: 45vh;
  font-size: 25px;
  
  h1 {
    padding: 2%;
    color: #222;
    text-align: center;
  }
  
  .spacing{
    padding-bottom: 5%;
  }
  
  .effect_hover {
    border: none;
    transition: 0.3s;
    opacity: 0.8;
  }

  .effect_hover:hover {opacity: 1}      
 }