<footer id="bons-frutos-footer">
  Copyright © 2020 | Created by us
<span>  </span>
  <a href="https://www.instagram.com/espacobonsfrutos/" target="_blank" class="media-icon" style="font-size: 20px;">
    <i class="fab fa-instagram"></i>
  </a>
</footer>