<footer id="bons-frutos-footer2">
  Copyright © 2021 | Created by us  
  <a href="https://www.facebook.com/bons.frutos.140" target="_blank" class="mx-3 media-icon" style="font-size: 19px; color: #3d9770;">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com/espacobonsfrutos/" target="_blank" class="media-icon" style="font-size: 20px; color: #3d9770;">
    <i class="fab fa-instagram"></i>
  </a>
</footer>