<section id="instagram2">
    <div class="container-flex">
        <div class="row" id="insta_row">
            <div class="col-lg-3">
                <iframe width="320" height="550" src="https://www.instagram.com/p/CJEbyP7Jsny/embed" frameborder="0" id="primeiro_post"></iframe>
            </div>
             <div class="col-lg-3">
                <iframe width="320" height="550" src="https://www.instagram.com/p/CJJ4oWuJ-J5/embed" frameborder="0"></iframe>
            </div>
            <div class="col-lg-3">
                <iframe width="320" height="550" src="https://www.instagram.com/p/CJEbyP7Jsny/embed" frameborder="0" id="primeiro_post"></iframe>
            </div>
             <div class="col-lg-3">
                <iframe width="320" height="550" src="https://www.instagram.com/p/CJJ4oWuJ-J5/embed" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>