<section id="contact_and_map">
    <div class="container-flex" id="primeiro">
        <div class="row">
            <div class="col-lg-6">
                <h1> Informações de contato </h1> <br>
                <p>
                    •Telefone: (61) 99145-8195 <br>
                    •Email: contato@bonsfrutos.com.br <br>
                    •Horário de funcionamento: 8hrs as 18hrs <br>
                    •Endereço: SHJB Quadra 2, Bl. B lote 1 Sala 102, <br>
                        Cond. Solar de Brasília, Jardim Botânico <br> <br>
                </p>
            </div>
            <div class="col-lg-6">
                   <div class="holder">
                        <div class="d-flex justify-content-end"> 
                            <div class="bar p-2 bd-highlight img-fluid"> <%= image_tag '', class:"rounded float-right" %>
                            </div>
                        </div>
                        <div class="frame"> 
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1919.0408093691642!2d-47.81414339392641!3d-15.852307035458445!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c92bd8dc9a74df0!2sEspa%C3%A7o%20Bons%20Frutos!5e0!3m2!1spt-BR!2sbr!4v1609100351522!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>