<nav class="navbar navbar-expand-lg" id="navbar-2">
  <a class="navbar-brand" href="<%= root_path %>" style="font-weight:bold;">
    <%= image_tag 'arvore.png', style: "height: 4vh;" %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse align-right" id="navbarSupportedContent1">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#services_section">
          Serviços
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about_section">
          Sobre
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#portfolio_section">
          Portifolio
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#partners_section">
          Parceiros
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        
        <div class="underline"></div>
      </li>
    </ul>
  </div>
</nav>
