<nav class="navbar navbar-expand-lg" id="navbar-2">
  <a class="navbar-brand" href="<%= root_path %>" style="font-weight:bold;">
    <%= image_tag 'arvore.png', style: "height: 4vh;" %>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent1">
    <ul class="navbar-nav m-auto ">
      <li class="nav-item">
        <a class="nav-link" href="/#quem_somos">
          Quem somos
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#servicos">
          Serviços
        </a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= contact_path %>">
          Contato
        </a>
        <div class="underline"></div>
      </li>
    </ul>
  </div>
</nav>
