<section id="presentation">
<div id="home-video-wrapper">
  <%= video_tag "VideoBonsFrutos.mp4", :autoplay => true, :muted => true, :loop => true, :size => "auto" %>
  <h1> so um teste </h1>
</div>
</section>
 