<section id="presentation_section">
<div id="home-video-wrapper">
  <%= video_tag "VideoBonsFrutos.mp4", :autoplay => true, :muted => true, :loop => true %>
  <h1 class="home"> Welcome to Paradise</h1>
</div>
</section>
 