<section id="about_section">
  <h1 id="about_title">{</h1>

  <div class="spacing"></div>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore tempora placeat illo. Quidem quod sunt ad temporibus ea voluptatibus optio libero accusantium, possimus nulla praesentium eaque laudantium perferendis aut odio?
    
  </p>
  <p>
    Uma Empresa Junior (EJ) é uma empresa criada, gerida e mantida por alunos universitários,
    com o objetivo de ter um ambiente que provê
    uma vivência empresarial aos estudantes.<br>
  </p>
  <p>
    No mercado desde 2014, a <span>{Struct}</span> busca proporcionar
    soluções com as tecnologias mais atualizadas no mercado, prezando sempre pela
    <span>qualidade</span> e <span>satisfação do cliente.</span> <br>
  </p>
  <p>
    Representamos o campo da Engenharia de Computação, um curso novo que une
    conhecimentos importantes das diferentes areas da computação. Um dos campos
    que <span>inova, muda e cria o nosso futuro.</span> <br>
  </p>
  <p style="font-weight:bold;text-align:center"><span>Caminhe conosco</span> para esse futuro, vamos
    <span>construir</span> esse futuro.</p>
</section>