<section id="quem_somos">
  
    <h1>Quem Somos</h1>
  
    <div class="d-flex flex-column justify-content-center">
      <p class="container">
        O espaço Bons Frutos foi planejado com muito amor, visando oferecer a crianças, adolescentes, pais, familiares e cuidadores um lugar alegre, descontraído e confortável. Totalmente focado no acolhimento, no apoio, no respeito e na empatia. Nossos consultórios são aconchegantes e o atendimento é 100% personalizado, prezando por uma consulta atenciosa.
        Contamos ainda com lindo espaço multimídia interligado à copa, reservado para cursos, palestras, grupos e workshops
      </p>

    </div>
    <div class="spacing">
    </div>
     <%# <h1>Áreas de Atuação</h1>
  <div class="d-flex flex-column justify-content-center">
    <div class="container" style="width: auto;">
      <i class="fas fa-heart effect_hover" style="color: #222;"> Consulta pediátrica</i><br>
      <i class="fas fa-heart effect_hover" style="color: #222;"> Amamentação</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Conexão pais e filhos</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Fonoaudiologia</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Nutrição</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Psicologia</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Psicomotricidade</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Psicopedagogia</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Shantala</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Sono infantil</i><br> 
      <i class="fas fa-heart effect_hover" style="color: #222;"> Dentre outros</i><br> 
      
    </div>
  </div> %>
 </section>