<section id="servicos" class="">
  
  <h1>Áreas de Atuação</h1>
  <div class="d-flex flex-column justify-content-center">
    <div class="container" style="width: auto;">
      <i class="fas fa-heart effect_hover"> Consulta pediátrica</i><br>
      <i class="fas fa-heart effect_hover"> Amamentação</i><br> 
      <i class="fas fa-heart effect_hover"> Conexão pais e filhos</i><br> 
      <i class="fas fa-heart effect_hover"> Fonoaudiologia</i><br> 
      <i class="fas fa-heart effect_hover"> Nutrição</i><br> 
      <i class="fas fa-heart effect_hover"> Psicologia</i><br> 
      <i class="fas fa-heart effect_hover"> Psicomotricidade</i><br> 
      <i class="fas fa-heart effect_hover"> Psicopedagogia</i><br> 
      <i class="fas fa-heart effect_hover"> Shantala</i><br> 
      <i class="fas fa-heart effect_hover"> Sono infantil</i><br> 
      <i class="fas fa-heart effect_hover"> Dentre outros</i><br> 
      
    </div>
  </div>
</section>