<section id="servicos" class="">
  
    <h1>Áreas de Atuação</h1>
  <p>
    <span  class="effect_hover">

      <i class="fas fa-heart"> Consulta pediátrica</i><br>
    </span>    
    <i class="fas fa-heart effect_hover"> Amamentação</i><br> 
    <i class="fas fa-heart effect_hover"> Conexão pais e filhos</i><br> 
    <i class="fas fa-heart effect_hover"> Fonoaudiologia</i><br> 
    <i class="fas fa-heart effect_hover"> Nutrição</i><br> 
    <i class="fas fa-heart effect_hover"> Psicologia</i><br> 
    <i class="fas fa-heart effect_hover"> Psicomotricidade</i><br> 
    <i class="fas fa-heart effect_hover"> Psicopedagogia</i><br> 
    <i class="fas fa-heart effect_hover"> Shantala</i><br> 
    <i class="fas fa-heart effect_hover"> Sono infantil</i><br> 
    <i class="fas fa-heart effect_hover"> Dentre outros</i><br> 
</p>
</section>